### Heroes Of Pymoli Data Analysis

* Even though the vast majority of players are male, female players have a higher average spend ($4.47) than male players ($4.07).

* Even though the vast majority of players are in the 20-24 age group, players in the 35-39 age group have a higher average spend ($4.76) compared to ($4.32).

* It's no surprise that the most popular item is also the most profitable.
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [87]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [88]:
# Obtain number of players
total_players = purchase_data['SN'].nunique()

# Put result in a data frame
total_players_df = pd.DataFrame({"Total Players" : [total_players]})

# Display data frame
total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [89]:
# Obtain number of unique items
unique_items = purchase_data["Item ID"].nunique()

# Obtain average price of unique items
average_price = purchase_data["Price"].mean()

# Obtain number of purchases made
number_purchases = len(purchase_data["Purchase ID"])

# Obtain total dollar amount of purchases made
dollar_purchases = purchase_data["Price"].sum()

# Put results in a data frame
purchasing_df = pd.DataFrame({
            "Number of Unique Items" : [unique_items],
            "Average Purchase Price" : [average_price],
            "Total Number of Purchases" : [number_purchases],
            "Total Revenue" : [dollar_purchases]
})

# Display data frame with formatting
purchasing_df.style.format({"Average Purchase Price" : "${:.2f}",
                           "Total Revenue" : "${:,.2f}"})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [90]:
# Group purchase data by gender
gender_group_df = purchase_data.groupby(['Gender'])

# Obtain number of players by gender
gender_count = gender_group_df['SN'].nunique()

# Obtain percentage of players by gender
gender_percent = gender_count/total_players*100

# Put in a data frame
gender_df = pd.DataFrame({
            "Total Count" : gender_count,
            "Percentage of Players" : gender_percent
            })

# Display data frame
gender_df.style.format({"Percentage of Players" : "{:.2f}%"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [91]:
# Obtain purchase count by gender
purchase_count_gender = gender_group_df['Purchase ID'].count()

# Obtain average purchase price by gender
avg_purchaseprice_gender = gender_group_df['Price'].mean()

# Obtain total purchased by gender
total_purchase_gender = gender_group_df['Price'].sum()

# Obtain number of unique players by gender
players_by_gender = gender_group_df['SN'].nunique()

# Obtain average purchases of unique players by gender
avg_purchase_player_gender = total_purchase_gender/players_by_gender

# Put all items in a data frame
summary_gender_df = pd.DataFrame({"Purchase Count" : purchase_count_gender,
             "Average Purchase Price" : avg_purchaseprice_gender,
             "Total Purchase Value" : total_purchase_gender,
             "Avg Total Purchase per Person": avg_purchase_player_gender})

# Display data frame
summary_gender_df.style.format({"Average Purchase Price" : "${:,.2f}",
                               "Total Purchase Value" : "${:,.2f}",
                               "Avg Total Purchase per Person" : "${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [92]:
# Setup the limits of each bin
bin = [0, 10, 15, 20, 25, 30, 35, 40, float("inf")]

# Setup the labels for each bin
label = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

# Indicate the data to be binned and the parameters for binning and assign to a variable
age_range = pd.cut(
    purchase_data['Age'],
    bins=bin,
    labels=label,
    right = False,
    include_lowest=True
)

# Add a column which contains age group to the data frame
purchase_data["Age Range"]= age_range

# Group data frame by age group
age_group = purchase_data.groupby("Age Range")

# Obtain number of players in each age category
total_count_by_age = age_group['SN'].nunique().sort_index()

# Obtain percentage of players in each age category
percent_of_players_by_age = total_count_by_age/total_players*100

# Put in a data frame
players_by_age_df = pd.DataFrame({"Total Count" : total_count_by_age,
             "Percentage of Players" : percent_of_players_by_age})

# Display the data frame
players_by_age_df.style.format({"Percentage of Players" : "{:,.2f}%"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [93]:
# Obtain number of purchases made by each age group
purch_count = age_group["Purchase ID"].count()

# Obtain average price of purchases made by each age group
avg_purch_price = age_group["Price"].mean()

# Obtain total dollar amount of purchases made by each age group
total_purch_value = age_group["Price"].sum()

# Obtain average total purchases made per person by each age group
avg_total_purch_per_person = total_purch_value / total_count_by_age

# Put in data frame
age_analysis = pd.DataFrame({'Purchase Count' : purch_count,
                "Average Purchase Price": avg_purch_price,
                "Total Purchase Value" : total_purch_value,
                "Avg Total Purchase per Person" : avg_total_purch_per_person
                            })

# Display the data frame
age_analysis.style.format({"Average Purchase Price" : "${:,.2f}",
                          "Total Purchase Value" : "${:,.2f}",
                          "Avg Total Purchase per Person" : "${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [94]:
# Group purchase data by each unique player
player_group = purchase_data.groupby('SN')

# Obtain number of purchases made by each player
purchase_count = player_group["Purchase ID"].count()

# Obtain average dollar amount of purchases made by each player
avg_purchase = player_group["Price"].mean()

# Put in a data frame
top_spender_df = pd.DataFrame({"Purchase Count" : purchase_count,
             "Average Purchase Price" : avg_purchase,
             "Top Purchase Value": top_spender_group})

# Display top 5 players with the highest spending
top_spender_df.sort_values(by = "Top Purchase Value", ascending = False).head().style.format({"Average Purchase Price" : "${:,.2f}",
                          "Top Purchase Value" : "${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [95]:
# Create a data frame which contains only the Item ID, Item Name and Price
items_df = purchase_data[["Item ID", "Item Name", "Price"]]

# Group the new data frame by item
items_group = items_df.groupby(["Item ID", "Item Name"])

# Obtain the number of purchases made by item
purchase_count1 = items_group['Price'].count()

# Obtain dollar amount of purchases made by item
purchase_value = items_group["Price"].sum()

# Obtain dollar amount of purchases made by item
item_price = items_group['Price'].mean()

# Put in a data frame
popular_df = pd.DataFrame({'Purchase Count' : purchase_count1,
                           'Item Price' : item_price,
                           'Total Purchase Value' : purchase_value,
                          })
# Display the data frame
popular_df.sort_values('Purchase Count', ascending=False).head().style.format({"Item Price" : "${:,.2f}",
                          "Total Purchase Value" : "${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [96]:
# Display the most profitable items by sorting the Total Purchase Value in descending order
popular_df.sort_values('Total Purchase Value', ascending=False).head().style.format({"Item Price" : "${:.2f}",
                        "Total Purchase Value" : "${:.2f}"})