# Heroes of Pymoli

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Resources/purchase_data.csv')
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

In [4]:
# Total Number of Players
pd.DataFrame({'Total Players': [df['SN'].nunique()]})

   Total Players
0            576

## Purchasing Analysis (Total)

In [15]:
# Number of Unique Items
unique_items = df['Item ID'].nunique()

In [16]:
# Average Purchase Price
avg_purchase_price = df['Price'].mean()

In [17]:
# Number of Purchases
num_purchases = df['Purchase ID'].nunique()

In [18]:
# Total Revenue
total_revenue = df['Price'].sum()

In [21]:
# Put together in a DataFrame
purchase_analysis = pd.DataFrame({
    'Unique Items' : [unique_items]
    ,'Average Purchase Price' :  [avg_purchase_price]
    ,'Number of Purchases' : [num_purchases]
    ,"Total Revenue" : [total_revenue]
})
purchase_analysis

   Unique Items  Average Purchase Price  Number of Purchases  Total Revenue
0           179                3.050987                  780        2379.77

## Gender Demographics

In [34]:
# Create a unique player demographics DataFrame
player_demographics = df[['SN', "Age", "Gender"]].drop_duplicates()
player_demographics

                SN  Age  Gender
0          Lisim78   20    Male
1      Lisovynya38   40    Male
2       Ithergue48   24    Male
3    Chamassasya86   24    Male
4        Iskosia90   23    Male
..             ...  ...     ...
773         Hala31   21    Male
774     Jiskjask80   11    Male
775     Aethedru70   21  Female
777     Yathecal72   20    Male
778        Sisur91    7    Male

[576 rows x 3 columns]

In [58]:
gender_percent = round(player_demographics['Gender'].value_counts() / len(player_demographics)*100,2)
gender_percent = pd.DataFrame(gender_percent, columns = ['Percentage of Players'])
gender_percent

Empty DataFrame
Columns: [Percentage of Players]
Index: []

In [37]:
gender_count = player_demographics['Gender'].value_counts()

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [54]:
pd.DataFrame(gender_percent)

                       Gender
Male                     84.0
Female                   14.0
Other / Non-Disclosed     2.0